@model IEnumerable<DataAccessLayer.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    var urls = {
        buscarPeliculas: '@Url.Action("obtenerPeliculas", "Pelicula")',
        obtenerReservas: '@Url.Action("ListarReserva", "Reserva")'
    };
    function getAllSkills() {
        return @Html.Raw(Json.Encode(@ViewBag.AllSkills));
    }
</script>

<h2>Index</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadEntradas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCarga)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pelicula.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sede.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposDocumento.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Versione.Nombre)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEntradas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCarga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sede.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiposDocumento.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Versione.Nombre)
            </td>
        </tr>
    }

</table>
