@model IEnumerable<DataAccessLayer.Reserva>

@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
}

<script type="text/javascript">


    var urls = {
        buscarPeliculas: '@Url.Action("obtenerPeliculas", "Pelicula")',
        obtenerReservas: '@Url.Action("ListarReserva", "Reserva")'
    };
    
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/Reserva/reserva.js"></script>

<h1>Reservas</h1>
<br />
<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group col-md-4">
                    <label class="control-label col-md-4">Pelicula</label>
                    <div class="col-md-8">
                        <select class="form-control" id="cmbPelicula"></select>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-4">Fecha de Inicio</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" id="fechaInicio" />
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label col-md-4">Fecha de Fin</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" id="fechaFin" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        <button type="button" id="btnBuscar" class="btn btn-primary" onclick="buscarReservas()">Buscar</button>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-hover">
                <thead>
                    <tr class="info">
             
                        <th>
                            @Html.DisplayNameFor(model => model.Sede.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Versione.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pelicula.Nombre)
                        </th>
                        <th>
                            <span>Precio</span>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sede.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Versione.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pelicula.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Sede.PrecioGeneral)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



