@model DataAccessLayer.Cartelera

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<div class="jumbotron">
    <h3>¿Estás seguro de eliminar esta Cartelera?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HoraInicio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaInicio)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaFin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaFin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroSala)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroSala)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Lunes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lunes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Martes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Martes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Miercoles)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Miercoles)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Jueves)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Jueves)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Viernes)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Viernes)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sabado)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sabado)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Domingo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Domingo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaCarga)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaCarga)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Pelicula.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pelicula.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sede.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sede.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Versione.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Versione.Nombre)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                @Html.ActionLink("Volver a la lista", "Index", new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</div>
