@model IEnumerable<DataAccessLayer.Cartelera>

@{
    ViewBag.Title = "Cartelera";
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
}

<h1>Cartelera</h1>
<br />
<div class="jumbotron">
      
        @Html.ActionLink("Nueva cartelera", "Create", null, new { @class = "btn btn-success" })

    <hr />

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img-top tamañoImagen" src="@item.Pelicula.Imagen" alt="Card image cap">
                    <br /><br />
                    <div>
                        @Html.ActionLink("Editar", "Edit", null, new { id = item.IdCartelera }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Eliminar", "Delete", null, new { id = item.IdCartelera }, new { @class = "btn btn-danger" })
                    </div>
                </div>
                <div class="col-md-9">
                    <h2><b>@Html.DisplayFor(modelItem => item.Pelicula.Nombre)</b></h2>
                    <p><b>Hora de Inicio: </b>@Html.DisplayFor(modelItem => item.HoraInicio)</p>
                    <p><b>Fecha de proyección: </b>@Html.DisplayFor(modelItem => item.FechaInicio, "{0:dd/MM/yyyy}") - @Html.DisplayFor(modelItem => item.FechaFin)</p>
                    <p><b>Número de sala: </b>@Html.DisplayFor(modelItem => item.NumeroSala)</p>
                    <p><b>Lunes: </b>@Html.DisplayFor(modelItem => item.Lunes)<b>Martes: </b>@Html.DisplayFor(modelItem => item.Martes)<b>Miércoles: </b>@Html.DisplayFor(modelItem => item.Miercoles)<b>Jueves: </b>@Html.DisplayFor(modelItem => item.Jueves)</p>
                    <p><b>Viernes: </b>@Html.DisplayFor(modelItem => item.Viernes) <b>Sábado: </b>@Html.DisplayFor(modelItem => item.Sabado) <b>Domingo: </b>@Html.DisplayFor(modelItem => item.Domingo)</p>
                    <p><b>Sede: </b>@Html.DisplayFor(modelItem => item.Sede.Nombre)</p>
                    <p><b>Versión: </b>@Html.DisplayFor(modelItem => item.Versione.Nombre)</p>
                    <p><b>Fecha de carga: </b>@Html.DisplayFor(modelItem => item.FechaCarga)</p>
                </div> 
            </div>
            <hr />  
        }

</div>