@model IEnumerable<DataAccessLayer.Pelicula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Elegí tu Pelicula</h1>
<br />
<div class="jumbotron">
    <div class="row">
        @foreach (var peli in Model)
        {

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="card-img-top tamañoImagen" src="@peli.Imagen" alt="Card image cap">
                    <div class="caption">
                        <h2><b>@peli.Nombre</b></h2>
                        <p>@peli.Genero.Nombre</p>
                        <p>@peli.Calificacione.Nombre</p>
                        @Html.ActionLink("Reservar", "Create", "Reserva", new { id = @peli.IdPelicula }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>

        }
    </div>
</div>