@model IEnumerable<DataAccessLayer.Pelicula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Elegí tu Pelicula</h2>

@foreach (var peli in Model)
{
        <!-- Listado de Peliculas -->
    <div class="row separarDiv">
        <div class="card">
            <img class="card-img-top tamañoImagen" src="@peli.Imagen" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">@peli.Nombre</h4>
                <p class="card-text">@peli.Genero.Nombre</p>
                <p class="card-text">@peli.Calificacione.Nombre</p>
                @Html.ActionLink("Reservar", "Create", "Reserva", new { id = @peli.IdPelicula }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calificacione.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero.Nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacione.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Nombre)
            </td>
            <td>
                @Html.ActionLink("Reservar", "Create", "Reserva", new {id = item.IdPelicula }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>*@
