@model IEnumerable<DataAccessLayer.Pelicula>

@{
    ViewBag.Title = "Películas";
    Layout = "~/Views/Shared/_LayoutAdministracion.cshtml";
}

<h1>Películas</h1>
<br />
<div class="jumbotron">
      
        @Html.ActionLink("Nueva película", "Create", null, new { @class = "btn btn-success" })

    <hr />

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-md-3">
                    <img class="card-img-top tamañoImagen" src="@item.Imagen" alt="Card image cap">
                    <br /><br />
                    <div>
                        @Html.ActionLink("Editar", "Edit", null, new { id = item.IdPelicula }, new { @class = "btn btn-primary" })
                    </div>
                </div>
                <div class="col-md-9">
                    <h2><b>@Html.DisplayFor(modelItem => item.Nombre)</b></h2>
                    <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    <h4><b>Ficha Técnica</b></h4>
                    <h5><b>Género: </b>@Html.DisplayFor(modelItem => item.Genero.Nombre)</h5>
                    <h5><b>Calificación: </b>@Html.DisplayFor(modelItem => item.Calificacione.Nombre)</h5>
                    <h5><b>Duración: </b>@Html.DisplayFor(modelItem => item.Duracion) min</h5>
                    <h5><b>Fecha de Carga: </b>@Html.DisplayFor(modelItem => item.FechaCarga)</h5>
                </div>
            </div>
            <hr />  
        }

</div>

